* {
  margin: 0px;
  padding: 0px;
}
.MenuStyle {
  width: 100%;
  height: 60px;
  background-color: #402c33;
  color: white;
}

.MenuStyle ul {
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  text-transform: uppercase;
}

.MenuStyle ul li a {
  color: white;
  list-style: none;
  text-decoration: none;
}

.register {
  text-align: center;
  margin-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.footer {
  margin-top: 470px;
  width: 100%;
  height: 60px;
  background-color: #402c33;
}

h4 {
  text-align: center;
  padding: 21px;
  color: white;
}

/* Registration form CSS*/

.title {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 20px;
}

.main-div {
  text-align: center;
}

.sub-div {
  width: 350px;
  height: 200px;
  padding: 50px;
  border: 2px solid black;
  margin-left: 490px;
  margin-top: 30px;
}

/* input[type=text],input[type=password], input[type=password]{
  width:80px;
  padding: 5px 50px;
  margin: 10px 10px;
  box-sizing: border-box;
  border: 2px solid black;
} */

/* input[type=submit]{
  background-color: brown;
  border: none;
  border-radius: 5px;
  color:black;4w0
  padding: 6px;
} */

button {
  margin-top: 15px;
  padding: 6px 25px;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 5px;
}
.btn {
  color: black;
  font-size: 15px;
  font-weight: bolder;
  padding: 5px;
  margin: 5px;
}
.table{
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 50%;
  margin-top: 30px;
  margin-left: 320px;
}

.table td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}
.table tr:nth-child(even){background-color: #f2f2f2;}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
  text-align: center;
}

.table td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}
table tr:hover {background-color: #ddd;}