@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");

h1,
h2,
h3,
h4,
h5,
h6,
label {
  font-weight: 500;
  font-family: "Fira Sans", sans-serif;
}

* {
  box-sizing: border-box;
}
.MenuStyle {
  width: 100%;
  height: 60px;
  background-color: #402c33;
  color: white;
}

.MenuStyle ul {
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  text-transform: uppercase;
}

.MenuStyle ul li a {
  color: white;
  list-style: none;
  text-decoration: none;
}

.register {
  text-align: center;
  margin-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.footer {
  margin-top: 470px;
  width: 100%;
  height: 60px;
  background-color: #402c33;
}

h4 {
  text-align: center;
  padding: 21px;
  color: white;
}

/* Registration form CSS*/

.title {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 20px;
}

.main-div {
  text-align: center;
  margin-top: 50px;
  
}
.sub-div {
  text-align: center;
}
body {
  background: #1c8ef9 !important;
  font-weight: 400;
  font-family: "Fira Sans", sans-serif;
}
.auth-inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all 0.3s;
}
 .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}
.label{
  text-align: left;
}